{{#if resume.awards.length}}
    <article class="grid margin-section">
        <section class="grid__col-12 grid__col-xs-4">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <h4 class="color-red">Awards</h4>
            </div>
        </section>

        <section class="grid__col-12 grid__col-xs-8">
            <div class="grid__cell border-top border-heavy padding-inline-top">
                <div class="grid grid--justify-end">
                    {{#each resume.awards}}
                        <div class="grid__col-4 margin-inline-bottom padding-list">
                            {{#if title}}<h5>{{title}}</h5>{{/if}}
                            {{#if awarder}}<h6>{{awarder}}</h6>{{/if}}
                            {{#if client}}<p>{{client}}</p>{{/if}}
                            {{#if summary}}<p>{{summary}}</p>{{/if}}
                            {{#if date}}<p>{{date}}</p>{{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </article>
{{/if}}
