{{#resume.basics}}
    <article class="grid margin-section">
        <section class="grid__col-12 grid__col-xs-8">
            <h1>{{spaceToBR name}}</h1>
        </section>
        <section class="grid__col-12 grid__col-xs-4">
            <h3 class="padding-bottom-text border-bottom margin-inline-bottom-sm">
                {{label}}
            </h3>
            <ul class="padding-bottom-text border-bottom margin-inline-bottom-sm">
                {{#location}}
                    {{#if address}}
                        <li>{{address}}</li>
                    {{/if}}
                    {{#if city}}
                        <li>{{city}}{{#if postalCode}}, {{postalCode}}{{/if}}</li>
                    {{/if}}
                    {{#if countryCode}}
                        <li>{{countryCode}}</li>
                    {{/if}}
                    {{#if region}}
                        <li>{{region}}</li>
                    {{/if}}
                {{/location}}
            </ul>

            <ul>
                {{#if phone}}
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;
                        {{phone}}</li>
                {{/if}}
                {{#if website}}
                    <li><i class="fa fa-external-link-square" aria-hidden="true"></i>&nbsp;
                        <a href="{{website}}">{{stripHTTP website}}</a></li>
                {{/if}}
                {{#if email}}
                    <li><i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp;
                        <a href="mailto:{{email}}">{{email}}</a></li>
                {{/if}}
                {{#if profiles.length}}
                    {{#each profiles}}
                        <li>{{#if network}}<i class="{{faIcon network}}" aria-hidden="true"></i>&nbsp;{{/if}}
                            {{#if url}}<a href="{{url}}">{{#if username}}{{username}}{{/if}}</a>{{else}}{{#if username}}{{username}}{{/if}}{{/if}}
                        </li>
                    {{/each}}
                {{/if}}
            </ul>
        </section>
    </article>

    {{#if summary}}
        <article class="grid margin-section">
            <section class="grid__col-12 grid__col-xs-4">
                <div class="grid__cell border-top border-heavy padding-inline-top">
                    <h4 class="color-red">Summary</h4>
                </div>
            </section>
            <section class="grid__col-12 grid__col-xs-8">
                <div class="grid__cell border-top border-heavy padding-inline-top justify">
                    <p>{{summary}}</p>
                </div>
            </section>
        </article>
    {{/if}}
{{/resume.basics}}
